@import "base/fonts";
@import "base/reset";
@import "base/variables";

$main_color: #FF8C3B;

body {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  color: $black;
  background-color: white;
}

.root {
  width: 450px;
  height: auto;

  .box-header {        
    height: 50px;
    background-color: $main_color;    
    display: flex;
    flex-direction: row;

    .menu {
      width: 50%;
      align-items: center;      
      border-bottom: 3px solid #cc7131;      
      display: flex;
      justify-content: center;

      i {
        color: #cc7131;
        font-size: 24px;
      }

      &.active {
        border-bottom: 3px solid white;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .03), 0 1px 3px rgba(0, 0, 0, .03);

        i {
          color: white;
        }
      }
    }

  }

  .box-body {
    padding: 20px 25px;

    .row {
      .row-title {
        font-size: 18px;
        font-weight: 700;

        .row-count {
          color: #7c7c7c;
          font-size: 14px;          
        }
      }

      ul#list {
        max-height: 250px;
        list-style-type: none;
        overflow: auto;
        padding-top: 10px;

        li#folder {
          cursor: pointer;
          font-size: 15px;
        }

        li.list-item {
          align-items: center;
          display: flex;
          font-size: 14px;
          padding: 1px 15px;

          i {
            color: #d90202;
            cursor: pointer;
            font-size: 11px;
            padding-left: 3px;
          }
        }
      }
    }
  }
}
